---
import type { GetStaticPaths } from "astro";
import { createReader } from "@keystatic/core/reader";
import keystaticConfig from "../../keystatic.config";
import { DocumentRenderer } from "@keystatic/core/renderer";
import BaseLayout from '../layout/base.astro'

export const getStaticPaths = (async () => {
  const reader = createReader(process.cwd(), keystaticConfig);

  console.log(reader);
  console.log(Object.keys(reader.collections));

  const sections = Object.keys(reader.collections);

  let params = sections.map(async (section) => {
    const posts = await reader.collections.sections.all();

    return Promise.all(
      posts.map(async (post) => {
        return {
          params: { section, item: post.slug },
          props: { content: "anton" },
        };
      }),
    );
  }, []);

  const result = (await Promise.all(params)).flat();

  return result;
}) satisfies GetStaticPaths;

const { params, props } = Astro;
---

<BaseLayout>
  <div>{params.item}</div>
</BaseLayout>
