---
import { getCollection } from 'astro:content'
import BaseLayout from '../layout/base.astro'

const collection = await getCollection("sections")

---
<BaseLayout>
  <ul>
    {collection.map(item => <li>{item.data.title}</li>)}

  </ul>
</BaseLayout>

