---
import { getCollection } from 'astro:content'
import BaseLayout from '../layout/base.astro';

const sections = await getCollection("sections");

---
<BaseLayout>
  <ul>
    {sections.map(item => <li>{item.data.title}</li>)}

  </ul>
</BaseLayout>

